<h2>Defintion: <%= @definition.spelling %></h2>
<h3>Word: <%= @definition.word.spelling %></h3>

<form action="/word/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" value="patch">

  <label for="definition_name">Rename definition</label>
  <input id="definition_name" name="definition_name" type="text">

  <button type="submit">Update definition</button>
</form>

<form action="/word/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete definition</button>
</form>

<a href="/word/<%= @definition.word.id %>">Back to <%= @definition.word.name %></a>
