<h1>Define Time</h1>

<h2><%= @words.name.capitalize %></h2>

<h3>Definition:</h3>

<% if @words.definitions %>
<ul>
  <% @words.definitions.each do |defin| %>
  <li><a href="/words/<%= @word.id %>/definition/<%= defin.id %>"><%= defin.definition %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no definitions listed for this word.</p>
<% end %>

<h4>Add a definition:</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition_name">Definition</label>
    <input id="definition_name" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>

<p><a href="/words/<%= @word.id %>/edit">Edit Word</a></p>
<p><a href="/words">Return to word list</a></p>
