<h1 class=jumbotron>Define Time</h1>

<h2><%= @word.name.capitalize %></h2>

<h3>Definition:</h3>

  <% if @word.definitions %>
    <ul>
      <% @word.definitions.each do |definite| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definite.id %>"><%= definite.written %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word.</p>
  <% end %>

<h4>Add a definition:</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="definition">Definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>

<p><a href="/words/<%= @word.id %>/edit">Edit Word</a></p>
<p><a href="/words">Return to word list</a></p>
